:root {
  --dark: #484A47;
  --light: #EDE7D9;
  --accent1: #0FA3B1;
  --accent2: #D5A021;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -10px;
  padding: 10px;
  background-color: var(--dark);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
  color: var(--accent1);
  font-size: 40px;
}

nav a {
  text-decoration: none;
  padding: 15px;
  color: var(--accent2);
  font-size: 20px;
}